<div class="main-wrap">
  <!-- <section class="image-wrap">
    <img src="../../assets/images/cover-2.jpg" alt="cover"> -->
    <div class="container about-us-wrap">
      <div class="row">
        <div class="left-half col s6">
          <h6 class="fancy"><span>Story behind</span></h6>
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime commodi repudiandae odit ipsa veritatis expedita, suscipit natus dolorem laudantium pariatur ipsam ab id iusto consectetur repellat ratione a at debitis dolorum? Eveniet maxime, aut alias recusandae esse reiciendis necessitatibus iusto!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, laudantium! Voluptas ad, voluptates nulla similique recusandae atque minus praesentium quibusdam porro aliquam amet ullam optio molestias temporibus, dolores sint accusantium dignissimos repellat illo? Nihil iure aperiam quas, quos error reprehenderit iusto distinctio quibusdam enim deleniti ullam eveniet possimus excepturi rem recusandae. Corrupti doloribus error deleniti porro accusantium vero alias odio hic, eligendi, reiciendis cumque assumenda nihil similique voluptatem sunt quam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatum enim eveniet architecto quisquam doloribus veritatis quo numquam porro pariatur! Quam, a repellat ipsum architecto repudiandae temporibus libero perferendis alias eos dolores est placeat non laboriosam? Molestiae impedit assumenda amet!</p>
        </div>
        <div class="right-half col s6">
          <img src="../../assets/images/planning.jpg" alt="About us">
        </div>
      </div>
    </div>
  <!-- </section> -->
</div>