<nav>
  <div class="container nav-wrapper">
    <a class="logo" routerLink="/">
      <img src="../assets/images/logo-white.png" alt="Logo">
    </a>
    <a class="sidenav-trigger hide-on-large-only" (click)="toggle()">
      <i class="material-icons">menu</i>
    </a>
    <ul class="main-menu center-align hide-on-med-and-down">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/About-us">About Us</a></li>
      <li><a routerLink="/Guides">Guides</a></li>
      <li><a routerLink="/Tours">Tours</a></li>
      <li><a routerLink="/Contact">Contact</a></li>
    </ul>
  </div>
</nav>

<ul *ngIf="isCollapsed" class="side-nav">
  <li><a>Home</a></li>
  <li><a>About Us</a></li>
  <li><a>Guides</a></li>
  <li><a>Tours</a></li>
  <li><a>Contact</a></li>
</ul>



<main>
    <router-outlet></router-outlet>
</main>

<footer>
  
</footer>