<div class="main-wrap">
  <h2>Tours</h2>
  <div class="container tours">
    <div class="row">
      <div class="col s4">
        <div class="tour-box">
          <div class="special-offer">
            <h6>Best Deal!</h6>
            <h6>25% OFF</h6>
          </div>
          <img src="../../assets/images/tour-cover.jpg" alt="tour">
          <div class="text">
            <h5>Shepherd's tour</h5>
            <span class="title">Kazbegi, Adventural Tour</span>
            <p>
              Visit mysterious mountains, watch how living is like over the clouds! 
            </p>
            <span class="price">
              100$/Person
            </span>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="tour-box">
          <img src="../../assets/images/wine-tour-cover.jpg" alt="tour">
          <div class="text">
            <h5>Wine degustation</h5>
            <span class="title">Kakheti, Cultural Tour</span>
            <p>
              Taste some of the finest wine in the world! Check the old and modern ways, see how the ancient people produced wine! 
            </p>
            <span class="price">
              120$/Person
            </span>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="tour-box">
          <div class="special-offer">
            <h6>Best Deal!</h6>
            <h6>25% OFF</h6>
          </div>
          <img src="../../assets/images/winter-tour-cover.jpg" alt="tour">
          <div class="text">
            <h5>Winter tour</h5>
            <span class="title">Gudauri, Sport Tour</span>
            <p>
              Are you into winter sports? This tour is for you! Breathtaking views, long and clean ski lines offering 5 levels of difficulty!
            </p>
            <span class="price">
              100$/Person
            </span>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="tour-box">
          <div class="special-offer">
            <h6>Best Deal!</h6>
            <h6>25% OFF</h6>
          </div>
          <img src="../../assets/images/tour-cover.jpg" alt="tour">
          <div class="text">
            <h5>Shepherd's tour</h5>
            <span class="title">Kazbegi, Adventural Tour</span>
            <p>
              Visit mysterious mountains, watch how living is like over the clouds! 
            </p>
            <span class="price">
              100$/Person
            </span>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="tour-box">
          <div class="special-offer">
            <h6>Best Deal!</h6>
            <h6>25% OFF</h6>
          </div>
          <img src="../../assets/images/tour-cover.jpg" alt="tour">
          <div class="text">
            <h5>Shepherd's tour</h5>
            <span class="title">Kazbegi, Adventural Tour</span>
            <p>
              Visit mysterious mountains, watch how living is like over the clouds! 
            </p>
            <span class="price">
              100$/Person
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>