.tours {
    padding-top:15rem;
}
.tour-box {
    cursor: pointer;
    position: relative;
    margin: 1.5rem 0;
    img {
        width: 100%;
        border-radius:5px;
        object-fit: cover;
        z-index:-1;
    }
    .text {
        > * {
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size:14px;
            overflow: hidden;
        }
        h5 {
            margin: 5px 0;
            font-size: 18px;
            font-weight: 500;
        }
        p {
            margin: 0;
        }
        .price {
            color: rgb(118, 118, 118);
        }
        .title {
            font-size:16px;
        }
    }
    .special-offer {
        position: absolute;
        left:50%;
        transform: translate(-50%);
        color:white;
        font-weight: bold;
        border-radius: 0 0 5px 5px;
        top:0;
        width: 100px;
        background: #d32f2f;
        text-align:center;
    }
}