$roboto-font-path: "../node_modules/materialize-css/dist/fonts/roboto/" !default; // Needed to load font
@import "../node_modules/materialize-css/sass/materialize";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// Colors
$dark-grey: #484848;
$light-grey: rgb(118, 118, 118);



* {
    box-sizing: border-box;
}
html {
    font-size:10px;
    scroll-behavior: smooth;
    line-height: 1.15;
}
body {
    scroll-behavior: smooth;
    color: $dark-grey;
}
h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;
    z-index:10;
    margin: 0;
}
.image-wrap {
    width: 100%;
    height:100vh;
    > h2 {
        color: white;
    }
    > img {
        position: absolute;
        z-index: -1;
        width:100%;
        height:100%;
        left:0;
        object-fit: cover;
    }
    h3 {
        font-size:5rem;
    }
    h4 {
        font-size: 2rem;
    }
    h3,h4 {
        margin: 0;
    }
    .relative {
        padding-top:10rem;
        height:100%;
        position: relative;
    }
}