<div class="main-wrap">
  <section class="image-wrap">
    <img src="../../assets/images/cover-1.jpg" alt="cover">
    <h2>Your journey begins here!</h2>
    <div class="container relative">
      <div class="destination-block">
        <h3>Pick your most desired places to visit.</h3>
        <form class="">
            <h4>Keyword:</h4>
            <input type="text" placeholder="Eg. Tbilisi" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>

            <h4>Category:</h4>
            <mat-form-field>
              <mat-label>Choose category...</mat-label>
              <mat-select>
                <mat-option *ngFor="let category of categories" [value]="category.value">
                  {{category.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h4>City:</h4>
            <mat-form-field>
              <mat-label>Choose city...</mat-label>
              <mat-select>
                <mat-option *ngFor="let city of cities" [value]="city.value">
                  {{city.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h4>Tour Duration:</h4>
            <mat-form-field>
              <mat-label>Choose duration days...</mat-label>
              <mat-select>
                <mat-option *ngFor="let day of days" [value]="day.value">
                  {{day.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h4>Price:</h4>
            <mat-slider color="primary"></mat-slider>

            <button mat-raised-button color="primary">Filter</button>
          </form>
      </div>
    </div>
  </section>
</div>