.destination-block {
    position: absolute;
    left:0;
    top:19vh;
    margin-left: -10%;
    background: white;
    color: rgb(72,72,72);
    padding: 20px;
    border-radius:4px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.25);
    max-width:300px;
    h3 {
        margin: 0 auto 20px;
        font-size: 20px;
    }
    h4 {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }
    .group {
        position:relative;
    }
    i {
        top:10px;
        position: absolute;
        color: lightgray;
        transition: 0.2s ease all;
        cursor: pointer;
        &.search {
            left:10px;
        }
        &.close {
            right:3px;
        }
    }
    form > * {
        width:100%;
    }
}






// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }